.ticker-form {
    max-width: 300px;
    min-height: 310px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
}

.ticker-form-select,
.ticker-form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
    line-height: 20px;
    border: 1px solid black;
    border-radius: 8px;
}

.ticker-form-select:focus,
.ticker-form-select:active,
.ticker-form-input:focus,
.ticker-form-input:active{
    outline: 0;
}

.ticker-form-input {
    padding: 10px;
}

.ticker-cost {
    display: flex;
    justify-content: space-between;
}

.vertical-line {
    border-left: 1px solid #000;
}

.buy {
    color: limegreen !important;
    border-color: limegreen !important;
}

.buy:hover {
    color: green !important;
    background: repeating-linear-gradient(-60deg, rgba(0, 128, 0, 1), transparent 1px, transparent 8px);
}

.buy:active {
    color: white !important;
    background: none;
    border-color: green !important;
    background-color: green !important;
}

.sell {
    color: red !important;
    border-color: red !important;
}

.sell:hover {
    color: darkred !important;
    background: repeating-linear-gradient(60deg, rgba(255, 0, 0, 0.4), transparent 1px, transparent 8px);
}

.sell:active {
    color: white !important;
    background: none;
    border-color: darkred !important;
    background-color: darkred !important;
}
